@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: white;
    --color-error: #980000;
    --color-paper: #232323;
    --color-primary: #199b9b;
    --color-background: #001d2b;
    --color-primary-contrast: white;
}

html,
body {
    overflow: overlay;
    @apply bg-background text-text w-screen h-screen underline-offset-8
}

a {
    @apply hover:underline active:opacity-50 transition-opacity
}

*::-webkit-scrollbar {
    @apply h-3 w-2
}

*::-webkit-scrollbar-button {
    @apply hidden
}

*::-webkit-scrollbar-corner {
    @apply bg-transparent
}

*::-webkit-scrollbar-thumb {
    @apply rounded-full bg-paper
}

*::-webkit-scrollbar-track {
    @apply bg-transparent
}

.overflow-primary::-webkit-scrollbar-thumb {
    @apply bg-primary
}